<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="cnnotificacion" connectionString="Data Source=192.168.120.214;Initial Catalog=PowerBI;Persist Security Info=True;User ID=SA;Password=Libertad01"
		 providerName="System.Data.SqlClient" />

		<add name="cnNEX" connectionString="Data Source=192.168.120.214;Initial Catalog=NexusHRPARA;Persist Security Info=True;User ID=SA;Password=Libertad01"
		 providerName="System.Data.SqlClient" />


		<!--Conexion dominio	-->
		<!--
		<add name="ATRIA_Sintia2.Properties.Settings.DocuConnectionString"
		 connectionString="Data Source=documentacion.atrialogistica.com,63001;Initial Catalog=Docu;User ID=sa;Password=Libertad01"
		 providerName="System.Data.SqlClient" />
		<add name="ATRIA_Sintia2.Properties.Settings.SINTIA2ConnectionString"
		 connectionString="Data Source=documentacion.atrialogistica.com,63001;Initial Catalog=SINTIA2;Persist Security Info=True;User ID=sa;Password=Libertad01"
		 providerName="System.Data.SqlClient" />-->
	</connectionStrings>
	<appSettings>
		<!-- ... -->
		<add key="nombemopresa" value="AGENCIA MARITIMA ARGENPAR SA"/>
		<add key="nombAmbiente" value="TESTING"/>
		<!-- ... -->
	</appSettings>
</configuration>
